// @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html {
  font-size: 1px; /*for using REM units*/
}
* {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  color: rgb(20, 26, 32);
}
